body,
html {
    width: 100%;
    height: 100%;
}

/* body */
body::after {
    content: "";
    background-color: #eee;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: -100;
    pointer-events: none;
    background-color: #eee;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
}

.headerWrap {
    width: 100%;
    height: 80px;
    background-color: #191919;
}

.header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    line-height: 80px;
    position: relative;
}

.logo {
    width: 233px;
    position: absolute;
    top: 50%;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    left: 40px;
    height: 40px;
    margin-top: -20px;
    background: url(../img/logo.png) no-repeat;
}

.headerUl {
    width: 100%;
    height: 80px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
}

.headerUl li {
    /* float: left; */
    margin: 0 12px;
    display: inline-block;
}

.headerUl .cur {
    background-color: #353535;
}

.headerUl .cur a {
    color: #fff;
}

.headerUl li a {
    position: relative;
    display: block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 80px;
    color: hsla(0, 0%, 100%, .5);
}

.headerUl a:hover {
    color: #fff;
}

/* header-right */
.header-right {
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
    padding: 22px 0;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    box-sizing: border-box;
    margin-top: -20px;
}

.header-right::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.widget-header-dev {
    display: inline-block;
    height: 36px;
    padding: 0;
    margin-left: 20px;
    color: hsla(0, 0%, 100%, .5);
    font-size: 13px;
    line-height: 36px;
    vertical-align: middle;
}

.xiazai {
    display: inline-block;
    height: 36px;
    padding: 0 18px;
    margin-left: 20px;
    vertical-align: middle;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 18px;
    color: hsla(0, 0%, 100%, .5);
    white-space: nowrap;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
}

.login {
    display: inline-block;
    height: 36px;
    vertical-align: middle;
}

.widget-header-login-btn {
    display: inline-block;
    height: 36px;
    padding: 0;
    margin-left: 20px;
    color: hsla(0, 0%, 100%, .5);
    font-size: 13px;
    line-height: 36px;
    vertical-align: top;
}

.widget-header-dev:hover {
    background: none;
    color: #fff;
}

.xiazai:hover {
    border-color: hsla(0, 0%, 100%, .2);
    background-color: #ffc800;
    color: #333;
}

.widget-header-login-btn:hover {
    background: none;
    color: #fff;
}


/* 右侧定位回到顶部 */
.shop {
    position: fixed;
    background: #fff;
    box-shadow: none;
    border-radius: 54px;
    bottom: 80px;
    right: 20px;
    width: 54px;
    min-height: 54px;
    z-index: 150;
    box-sizing: border-box;
}

.shop-car {
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    position: relative;
    cursor: pointer;

    p {
        position: absolute;
        color: #3c3c3c;
        min-width: 50px;
        right: 105%;
        top: 6px;
        font-size: 12px;
        line-height: 38px;
        text-align: center;
        opacity: 0;
        transition: all .15s ease-out;
        padding: 0 6px;
        pointer-events: none;
        background: #fff;
        box-sizing: border-box;
        border: 1px solid #c2c2c2;
        border-radius: 5px;

        span {
            position: absolute;
            width: 8px;
            height: 14px;
            background: url(../img/shop-jian.jpg) no-repeat center;
            right: -7px;
            top: 10px;
        }
    }

    &:hover p {
        opacity: 1;
    }
}

.backtop {
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    position: relative;
    display: none;
    cursor: pointer;

    p {
        position: absolute;
        color: #3c3c3c;
        min-width: 70px;
        right: 105%;
        top: 6px;
        font-size: 12px;
        line-height: 38px;
        text-align: center;
        opacity: 0;
        transition: all .15s ease-out;
        padding: 0 6px;
        pointer-events: none;
        background: #fff;
        box-sizing: border-box;
        border: 1px solid #c2c2c2;
        border-radius: 5px;

        span {
            position: absolute;
            width: 8px;
            height: 14px;
            background: url(../img/shop-jian.jpg) no-repeat center;
            right: -7px;
            top: 10px;
        }
    }

    &:hover p {
        opacity: 1;
    }
}






/* fr-wrapper */
.fr-wrapper {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.fr-wrapper .fr-container {
    width: 1349px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.fr-home {
    margin: 0 170px;
    height: 50px;
}

.fr-left {
    height: 50px;
    float: left;
}

.fr-left li {
    float: left;
    margin-right: 8px;
    text-align: center;
    line-height: 50px;
    padding: 0 15px;
    font-size: 15px;
    position: relative;
}

.fr-left .fr-li {
    margin-right: 0;
}

.fr-left li:hover {
    background: #f4f4f4;
}

.fr-left li:hover .fr-leftbox {
    display: block;
}

.fr-left li img {
    margin: -3px 0 0 4px;
}

.fr-left li a {
    color: #3c3c3c;
}

.fr-leftbox {
    width: 108px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid var(--color-line-3);
    z-index: 20;
    clear: both;
}

.fr-leftbox div {
    line-height: 40px;
    text-align: left;
    padding-left: 14px;
}

.fr-leftbox div:hover {
    background: #f4f4f4;
}

.fr-right {
    float: left;
    height: 50px;
    margin-left: 160px;
}

.fr-right li {
    line-height: 50px;
    float: left;
    padding-right: 15px;
}

.fr-right li img {
    margin-top: -3px;
}

.fr-right li a:hover {
    color: #ff8f00;

}

.fr-right li a {
    color: #3c3c3c;
    font-size: 13px;
}

.fr-right li .link-primary {
    color: #f69c00;
    font-weight: 700;
}

.fr-inputbox {
    float: right;
    width: 240px;
    margin: 9px 0 0;
    position: relative;
}

.fr-ipt {
    padding: 3px 25px 3px 15px;
    line-height: 18px;
    height: 30px;
    border-radius: 60px;
    cursor: text;
    display: block;
    border: 1px solid #ffb300;
    box-sizing: border-box;
}

.fr-close {
    position: absolute;
    right: 50px;
    top: 4px;
    cursor: pointer;
    opacity: .6;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    display: none;
}

.fr-close::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -12px;
    background: url(../img/fr-close.png);
    box-sizing: border-box;
}

.fr-find {
    right: 10px;
    width: 48px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    background: #ffe493;
    border-radius: 0 60px 60px 0;
    border: 1px solid #ffb300;
    border-left: 0;
    box-sizing: border-box;
}

.fr-find::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    margin: 3px 0 0 12px;
    background: url(../img/fr-find.png) no-repeat 0 0;
}

.fr-hidebox {
    position: absolute;
    max-height: 550px;
    top: 35px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: #fff;
    overflow-y: auto;
    border: 1px solid #bfbfbf;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, .2),
        0 4px 8px -4px rgba(0, 0, 0, .2);
    display: block;
    border-radius: 3px;
    display: none;
    z-index: 20;
}

.fr-ipt-ul {
    width: 100%;

    li {
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        box-sizing: border-box;
        overflow: hidden;

        &:hover {
            background: #f4f4f4;
        }
    }
}

.fr-botbox {
    overflow: hidden;
    line-height: 50px;
}

.fr-hidetit {
    line-height: 18px;
    color: #757575;
    padding-left: 18px;
    margin-top: 10px;
    font-size: 13px;
}

.fr-hideul {
    position: relative;
    width: 100%;
    clear: both;
    overflow: hidden;
    margin: 5px 0;
}

.fr-hideul li {
    cursor: pointer;
    padding-right: 5px;
    float: left;
    padding: 0 20px 0 18px;
    position: relative;
    height: 30px;
    line-height: 30px;
    display: block;
    margin-top: -1px;
    width: 100%;
    overflow: hidden;
}

.fr-hideul li:hover {
    background: #f4f4f4;
}

.fr-hideul .fs-search div {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    max-width: 80%;
    height: 30px;
}

.fr-hideul .fs-search::after {
    content: "";
    width: 22px;
    height: 12px;
    display: inline-block;
    vertical-align: top;
    margin: 8px 0 0 5px;
    background: url(../img/fr-new.png) no-repeat;
}

.fr-hideul li .tag-num {
    margin-right: 5px;
    vertical-align: top;
    margin-top: 8px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(../img/fr-hide.png);
}

.fr-hideul li .num1 {
    background-position: 0 0;
}

.fr-hideul li .num2 {
    background-position: 0 -15px;
}

.fr-hideul li .num3 {
    background-position: 0 -30px;
}

.fr-hideul li .num4 {
    background-position: 0 -45px;
}

.fr-hideul li .num5 {
    background-position: 0 -60px;
}


/* banner图 */
.bannerWrap{
    width: 1000px;
    height: 240px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 28px;
}
.banner{
    width: 1000px;
    height: 240px;
    position: relative;
    overflow: hidden;
    padding-top: 6px;
    box-sizing: border-box;
}
.banner-box{
    width: 10000px;
    height: 240px;
    overflow: hidden;
}
.banner-cont{
    width: 1000px;
    height: 240px;
    overflow: hidden;
    float: left;
    ul{
        width: 1030px;
        height: 240px;
        overflow: hidden;
    }
}
.banner-ul li{
    float: left;
    margin-right: 20px;
    width: 320px;
    background: #fff;
    transition: all .6s;
    height: 222px;
    .banner-img{
        width: 320px;
        height: 148px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        cursor: pointer;
        background-size: 50px 36px;
        box-sizing: border-box;
        overflow: hidden;
        img{
            width: 320px;
            transition: all .6s;
            transform: scale(1) translateZ(0);
            &:hover{
                transform: scale(1.06) translateZ(0);
            }
        }
    }
    .banner-bot{
        height: 74px;
        padding: 0 20px;
        cursor: pointer;
        border-radius: 0 0 4px 4px;
        left: 0;
        right: 0;
        width: 100%;
        box-sizing: border-box;
        h2{
            font-weight: 700;
            line-height: 20px;
            margin: 12px 0 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            font-size: 15px;
        }
        span{
            display: block;
            color: #ff6f00;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
        }
    }
    &:hover{
        -webkit-box-shadow: 0 6px 12px -3px rgba(0, 0, 0, .2),
        0 7px 14px -7px rgba(0, 0, 0, .2);
        box-shadow: 0 6px 12px -3px rgba(0, 0, 0, .2),
        0 7px 14px -7px rgba(0, 0, 0, .2);
        transition: box-shadow .2s ease-out,
        transform .2s ease-out,
        -webkit-box-shadow .2s ease-out,
        -webkit-transform .2s ease-out;
    }
}


.redian-pre {
    -webkit-transition: background-color .2s ease-in,
        color .2s ease-in,
        border-color .2s ease-in;
    transition: background-color .2s ease-in;
    width: 30px;
    height: 68px;
    background: rgba(0, 0, 0, .15);
    z-index: 20;
    left: -40px;
    cursor: pointer;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -34px;
    border-radius: 4px;
}

.redian-pre::after {
    background: url(../img/pre.png) no-repeat;
    background-size: 100%;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    content: "";
    width: 10px;
    height: 20px;
    display: block;
    top: 50%;
    margin-top: -10px;
    opacity: .8;
    box-sizing: border-box;
}

.redian-pre:hover {
    background: rgba(0, 0, 0, .5);
}

.redian-next {
    -webkit-transition: background-color .2s ease-in,
        color .2s ease-in,
        border-color .2s ease-in;
    transition: background-color .2s ease-in,
        color .2s ease-in,
        border-color .2s ease-in;
    width: 30px;
    height: 68px;
    background: rgba(0, 0, 0, .15);
    z-index: 20;
    cursor: pointer;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -34px;
    border-radius: 4px;
    right: -40px;
}

.redian-next::after {
    opacity: .5;
    background: url(../img/next.png) no-repeat;
    background-size: 100%;
    right: 50%;
    margin-right: -5px;
    position: absolute;
    content: "";
    width: 10px;
    height: 20px;
    display: block;
    top: 50%;
    margin-top: -10px;
}

.redian-next:hover {
    background: rgba(0, 0, 0, .5);
}




/* 全部内容 */

.allWrap{
    width: 1000px;
    min-height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.all{
    width: 1000px;
    min-width: 300px;
    overflow: hidden;
}
.allLeft{
    width: 700px;
    float: left;
    min-height: 300px;
    overflow: hidden;
}
.allRight{
    width: 280px;
    float: right;
}
.all-title{
    position: relative;
    box-sizing: border-box;
    color: #757575;
}
.alltips{
    float: left;
    line-height: 26px;
}

.turn-r{
    position: absolute;
    right: 0;
    top: 0;
    ul{
        height: 26px;
        line-height: 24px;
        padding: 0;
        box-sizing: border-box;
        display: inline-block;
    }
}
.turn-ul li{
    height: 26px;
    float: left;
    min-width: 72px;
    text-align: center;
    list-style: none;
    border: 1px solid #bfbfbf;
    margin-left: -1px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.pretty-hd {
    position: relative;
    z-index: 1;
    padding: 0;
    min-height: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: none;

    h2 {
        font-size: 30px;
        line-height: 27px;
        color: #3c3c3c;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 300px;
        height: 30px;
        font-weight: 400;
    }
    p{
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        position: relative;
        margin: 0 0 0 10px;
        color: #3c3c3c; 
        display: inline-block;
    }
}
.label-del{
    font-size: 14px;
    line-height: 30px;
    height: 32px;
    width: 100px;
    padding: 0 26px 0 10px;
    margin-top: 20px;
    background-color: #fff;
    box-sizing: border-box;
    transition: background-color .2s ease-in,
    border-color .2s ease-in;
    border: 1px solid #e0e0e0;
    position: relative;
    color: #3c3c3c;
    cursor: pointer;
    &:hover{
        background-color: #f4f4f4;
        border-color: #a4a4a4;
        color: #3c3c3c;
    }
    i{
        position: absolute;
        top: 4px;
        right: 2px;
        color: #3c3c3c;
        font-size: 12px;
        line-height: 22px;
        width: 22px;
        height: 22px;
        cursor: pointer;
        text-align: center;
        box-sizing: border-box;
    }   
}
.pretty-subtit {
    margin: 0 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    color: #757575;
    display: inline-block;
    position: relative;

    &::after {
        content: "";
        width: 7px;
        height: 7px;
        display: inline-block;
        margin-left: 5px;
        position: absolute;
        right: -14px;
        bottom: -5px;
        border: 2px solid #ffb300;
        border-top: 0;
        border-left: 0;
        box-sizing: border-box;
    }
}
.cur{
    background: #212121;
    z-index: 2;
    border-radius: 2px 0 0 2px;
}




/* 全部内容左侧游戏列表 */
.game-card{
    margin-top: 20px;
    padding-top: 15px;
    box-sizing: border-box;
    min-height: 200px;
    position: relative;
}
.game-list li{
    height: 102px;
    box-sizing: border-box;
    transition: background-color .2s ease-in,
    border-color .2s ease-in;
    margin-bottom: 10px;
    position: relative;
    padding-left: 180px;
    background-color: #fff;
    z-index: 30;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    position: relative;
    &:hover{
        z-index: 31;
        background-color: #f4f4f4;
    }
}
.figureWrap{
    display: inline-block;
    width: 700px;
    height: 102px;
    overflow: hidden;
}
.figure{
    width: 180px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    height: 102px;
    background-size: 50px 36px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: hidden;
    img{
        object-position: 50% 50%;
        cursor: pointer;
        font-size: 0;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        position: relative;
    }
}

.game-box{
    position: relative;
    height: 102px;
    width: 500px;
    display: table;
    table-layout: fixed;
    cursor: pointer;
    box-sizing: border-box;
}
.game-table{
    width: 340px;
    height: 102px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
}
.game-desc{
    padding-left: 20px;
    box-sizing: border-box;
    h3{
        font-weight: 700;
        position: relative;
        margin-bottom: 5px;
        margin-top: 4px;
        box-sizing: border-box;
        color: #3c3c3c;
        font-size: 15px;
    }
    .game-subtit{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 340px;
        color: #757575;
        font-size: 12px;
        span{
            display: inline-block;
            padding: 0 3px 0 0;
            box-sizing: border-box;
        }
        h6{
            margin: 0 0 0 15px;
            display: inline-block;
        }
    }
}

.game-bot{
    margin-top: 7px;
    overflow: hidden;
    width: 280px;
    max-height: 18px;
    cursor: pointer;
    a{
        height: 18px;
        line-height: 16px;
        color: #757575;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 160px;
        transition: background-color .2s ease-in,
        border-color .2s ease-in;
        border: 1px solid #e0e0e0;
        display: inline-block;
        padding: 0 5px;
        border-radius: 2px;
        margin: 0 4px 0 0;
        font-size: 12px;
        box-sizing: border-box;
        &:hover{
            background-color: #f4f4f4;
            border-color: #a4a4a4;
            color: #3c3c3c;
        }
    }
}


/* 点击热门标签无内容 */
.nullWrap{
    display: none;
    overflow: hidden;
    padding-top: 15px;
    box-sizing: border-box;
    width: 100%;
    min-height: 205px;
}
.null-data{
    background-color: transparent;
    min-height: 205px;
    margin-bottom: 12px;
    box-sizing: border-box;
    position: relative;
    display: table;
    width: 100%;
}
.null-data-txt{
    background-color: #fff;
    border-radius: 4px;
    height: auto;
    font-size: 14px;
    text-align: center;
    padding: 30px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    color: #757575;
    &::before{
        content: "";
        display: block;
        width: 92px;
        height: 38px;
        position: relative;
        margin: 10px auto 20px;
        opacity: 1;
        background: url(../img/null.png) no-repeat;
    }
}



/* 全部内容右侧 */
.pre-right-cont1 {
    background-color: #fff;
    border-radius: 3px;
    padding: 18px 20px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: all .2s ease-in;

    &:hover {
        -webkit-box-shadow: 0 6px 12px -3px rgba(0, 0, 0, .2),
            0 7px 14px -7px rgba(0, 0, 0, .2);
        box-shadow: 0 6px 12px -3px rgba(0, 0, 0, .2),
            0 7px 14px -7px rgba(0, 0, 0, .2);
        transition: box-shadow .2s ease-out,
            transform .2s ease-out,
            -webkit-box-shadow .2s ease-out,
            -webkit-transform .2s ease-out;
    }

    .pre-right-hd {
        position: relative;
        height: 21px;
        line-height: 21px;
        font-size: 12px;
        color: #757575;
        font-weight: 400;
        margin-bottom: 5px;
        box-sizing: border-box;

        h3 {
            float: left;
            font-size: 18px;
            color: #3c3c3c;
        }
    }
}

.pre-right-bt {
    padding-top: 10px;
    box-sizing: border-box;
    min-height: 200px;
}

.pre-right-bt1 {
    padding-top: 10px;

    ul {
        display: table;
        width: 100%;
        border-spacing: 2px;

        li {
            margin-bottom: 2px;
            display: table-row;
            width: 100%;

            span {
                display: table-cell;
                width: 100%;
                padding: 0 0 0 10px;
                background-color: rgba(0, 0, 0, .05);
                vertical-align: middle;
                border-radius: 2px;
                color: #757575;
            }

            .ico-bg {
                height: 36px;
                background: rgba(0, 0, 0, .07);
                text-align: center;
                width: 40px;
                padding: 0 12px;
            }
        }
    }

    p {
        line-height: 24px;
        color: #9d9d9d;
        font-size: 12px;
    }

    a {
        display: block;
        color: #9d9d9d;
        margin-bottom: 6px;

        &:hover {
            color: #f69c00;
            text-decoration: underline;
        }

    }
}
.active{
    background-color: rgba(255, 200, 0, .2);
    border: 1px solid #ffca28;
    position: relative;
}
.condetion-item{
    float: left;
    width: 104px;
    border-radius: 4px;
    position: relative;
    height: 36px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, .05);
    margin-right: 2px;
    color: #3c3c3c;
    font-size: 12px;
    cursor: pointer;
    padding-left: 11px;
    border: 1px solid transparent;
    margin-bottom: 4px;

    input{
        margin-top: 10px;
    }
    span{
        margin-left: 10px;
    }
}


.navWrap{
    width: 700px;
    height: 48px;
    position: relative;
    padding-top: 24px;
    box-sizing: border-box;
    ul{
        margin: 0 -2px;
        color: #757575;
        float: left;
        
        li{
            border: 1px solid #a4a4a4;
            color: #3c3c3c;
            opacity: .8;
            background: none;
            cursor: default;
            border-radius: 2px;
            box-sizing: border-box;
            font-size: 12px;
            margin: 0 2px;
            padding: 0 8px;
            float: left;
            text-align: center;
            min-width: 26px;
            height: 24px;
            line-height: 22px;
            cursor: pointer;
        }
        .number {
            box-sizing: border-box;
            border: 1px solid #ffca28;
            background: #ffca28;
            &:hover{
                opacity: .6;
            }
        }
    }
}
.game-pre{
    box-sizing: border-box;
    float: left;
    width: 30px;
    border: 1px solid #a4a4a4;
    opacity: .8;
    background: none;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 2px;
    padding: 0 8px;
    text-align: center;
    min-width: 26px;
    height: 24px;
    line-height: 22px;
    cursor: pointer;
    background: url(../img/list-leftjian.jpg) no-repeat center;
}
.game-next{
    box-sizing: border-box;
    float: left;
    width: 30px;
    border: 1px solid #a4a4a4;
    opacity: .8;
    background: none;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 2px;
    padding: 0 8px;
    text-align: center;
    min-width: 26px;
    height: 24px;
    line-height: 22px;
    cursor: pointer;
    background: url(../img/list-jian.jpg) no-repeat center;
    margin-right: 20px;
}

.topage{
    color: #757575;
}
.topage input{
    width: 50px;
    height: 23px;
    border: 1px solid #a4a4a4;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 5px;
}
.sure{
    display: inline-block;
    background: none;
    text-align: center;
    border: 1px solid #a4a4a4;
    color: #3c3c3c;
    border-radius: 60px;
    min-width: 50px;
    transition: background-color .2s ease-in,
    border-color .2s ease-in;
    margin: 0 2px;
    padding: 0 8px;
    box-sizing: border-box;
    height: 24px;
    line-height: 22px;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        border: 1px solid #a4a4a4;
        color: #3c3c3c;
    }
}







/* 底部 */
.footWrap {
    width: 100%;
    height: 290px;
    overflow: hidden;
    background-color: #191919;
    margin-top: 66px;
}

.footer {
    width: 1000px;
    height: 290px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 56px 0;
}

.foot-top {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    z-index: 100;
    overflow: hidden;
}

.foot-topLeft {
    float: left;
    margin-right: 178px;
    box-sizing: border-box;
    overflow: hidden;
    width: 166px;

    h3 {
        margin-right: 20px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.4);
        float: left;
    }
}

.foot-pc {
    width: 50px;
    overflow: hidden;
    box-sizing: border-box;
    float: left;

    img {
        border-radius: 50%;
        border: 1px solid #5f5f60;
        margin-bottom: 10px;
    }

    span {
        display: block;
        font-size: 12px;
        color: #565657;
        margin-left: 10px;
    }
}

.foot-topCenter {
    float: left;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;

    h3 {
        margin-right: 20px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.4);
        float: left;
    }
}

.rootwb {
    overflow: hidden;

}

.footwb-box1 {
    float: left;

    span {
        display: block;
        font-size: 12px;
        color: #5f5f60;
        margin-left: 12px;
        margin-top: 10px;
    }
}

.footwb-box2 {
    float: left;
    margin-left: 10px;

    span {
        display: block;
        font-size: 12px;
        color: #5f5f60;
        margin-left: 14px;
        margin-top: 10px;
    }
}

.foot-topRight {
    float: right;
    overflow: hidden;

    h3 {
        margin-right: 20px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.4);
        float: left;
    }

}

.foot-topRightul {
    width: 150px;
    height: 60px;
    overflow: hidden;

    li {
        color: #5f5f60;
        float: left;
        margin-right: 20px;
        font-size: 14px;
        width: 52px;
        height: 12px;
        margin-bottom: 15px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: #909090;
        }
    }
}

.foot-topRightul li:nth-child(2) {
    margin-right: 0;
}

.foot-topRightul li:nth-child(4) {
    margin-right: 0;
}


.foot-bot {
    padding-top: 30px;
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.copy-top {
    margin-left: 90px;

    span {
        float: left;
        font-size: 12px;
        margin-left: 4px;
        color: #5d5d5d;
        cursor: pointer;

        &:hover {
            color: #909090;
        }
    }
}

.copy {
    width: 1000px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #5d5d5d;
}

.tenxun {
    width: 1000px;
    height: 24px;
    text-align: center;
    line-height: 46px;
    color: #5d5d5d;
    cursor: pointer;

    &:hover {
        color: #909090;
    }
}